.container {
  width: 35%;
  height: auto;
  background-color: grey;
  text-align: center;
  position: absolute;
  display: inline-block;
  
  top:80px;
  bottom: auto;
  left: 0;
  right: 0;
  margin: auto;

  box-shadow: 2px 2px 25px black;
  border-radius: 10px;
}

input {
  width: 70%;
  padding: 5px 12px;
  margin: 15px 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px white;
  border-radius: 1px;
}

button {
  background-color: green;
  border: none;
  color: black;
  font-size: 16px;

  box-shadow: 1px 1px 5px white;
  border-radius: 10px;
  width: 90px;
  height: 35px;
}

tbody{
  display: inline-block;
}

span {
  color: darkred;
  position: absolute;
  margin: -9px 0px 0px -30px;
}