table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, th{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}


table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: grey;
  color: white;
}

img {
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

p {
  font-size: 27px;
  text-align: center;
  background-color: cadetblue;
  color: darkblue;
}