.container {
  width: 50%;
  height: auto;
  background-color: grey;
  text-align: center;
  position: absolute;
  display: inline-block;
  
  top:50px;
  bottom: auto;
  left: 0;
  right: 0;
  margin: auto;

  box-shadow: 2px 2px 25px black;
  border-radius: 10px;
}

input[type=text],
input[type=password] {
  width: 30%;
  padding: 12px 12px;
  margin: 10px 10px 10px 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px white;
  border-radius: 10px;
}

button {
  background-color: seashell;
  border: none;
  color: black;
  padding: 5px 20px;
  font-size: 16px;
  margin: 10px 50px 25px 0px;
  width: 90px;
  box-shadow: 1px 1px 5px white;
  border-radius: 10px;
}
.Row {
  display: flex;
  justify-content: center;
}

#Label {
  width: 20%;
  float: left;
  margin: 30px 10px 10px 120px;
}

#name,
#pass,
#confirm_pass {
  margin: 20px 80px 10px 10px;
}
.login {
  width: 100px;
  margin: auto;
  top: 350px;
  position: relative;
  left: -13px;
}

.login button {
  background-color: crimson;
}

p {
  position: absolute;
  color: darkred;
  margin: 0px 0px 0px 360px;
}