.todo-input-wrapper {
  margin-bottom: 20px;
}
.btn {
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  padding: 8px;
}

.btn-primary {
  color: green;
  border-color: rgba(73, 204, 249, 1.0);
  background-color: transparent;
}

input {
  width: 80%;
  border: black;
  border: 2px solid black;
  margin-right: 10px;
  padding: 5px;
  line-height: 17px;
}

input:focus {
  outline: none;
  border: none;
  border: 2px solid rgba(73, 204, 249, 1.0);
}
.todoWrapper {
  border-bottom: 1px solid #efefef;
  text-align: left;
  margin: 10px 0px 0px 10px;
}
.removeTodo {
  margin: 10px 0px 0px 10px;
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  color: red;
  border-color: rgba(203, 20, 32, 0.4);
  background-color: transparent;
}