<div class="todo-input">
  <input type="text" [(ngModel)] = "todoText">
  <button class="btn btn-primary" (click)="addTodo()">Submit</button>
</div>
<div *ngFor="let todo of todoService.getTodos()">
<div class="todoWrapper">
  {{todo.text}}<button class="removeTodo" (click)="removeTodo(todo.id)">Delete</button>
</div>
</div>